
/* Global Variables */

:root {
  --first-theme-color: #083d8c;
  --second-theme-color: #4275B0;
  --third-theme-color: #f6f6f6;
  --fourth-theme-color: #c2c2c2;
  --theme-border-radius: 5px;
}

/* Resets */

button, input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  min-width: 0;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family:'OpenSans', Arial, sans-serif;
  color: #696969;
  font-size:70%;
}

h1,h2,h3,h4,h5,h6 {
  margin:3px;
}

a {
  text-decoration: none;
  color: var(--first-theme-color);
  font-weight: 800;
  transition: .1s ease-in;
}
a:hover {
  color:#216ddf;
}
ul {
  list-style: none;
  padding:0;
}

hr {
  border: 1px solid #efefef;
  width:90%;
}

main {
  flex: 1;
  box-sizing: border-box;
}


.content {
  padding:5em;
  color: white;
  width:30%;
  background-color: rgba(0,0,0,.5);
}



section {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin:0;
  padding:100px auto;
  width:100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: white;
  min-height:80vh;
}

#hero-section {
  margin-top:40px;
  background-image: url('../images/background/pool.jpg');
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
}

#dealer-locator-container {
  padding:5em;
  background-color: rgba(255,255,255,.7);
  max-width:400px;
}

#dealer-search-results-section{
  margin-top:100px;
  flex-direction: column;
}

#pools-and-spas-section {
  background-color: #216ddf;
  background-image: url('../images/background/lady.jpg');
}
#supplies-section {
  background-color: #1b5ab8;
  background-image: url('../images/background/supplies.jpg');
}
#resources-section {
  background-color: #174d9e;
  background-image: url('../images/background/resources.jpg');
}
#services-section {
  background-color: #2668cb;
  background-image: url('../images/background/services.jpg');
}

#top-header {
  z-index:8;
  box-sizing: border-box;
  background:white;
  width:100%;
  position:fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#top-header > * {
  margin:7px 15px;
}

.footer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.footer a {
  color:#ffffff;
  font-weight:normal;
}

.footer-top {
  flex: 1 0 auto;
  background-color: #083d8c;
}

.footer-bottom {
  background-color: #216ddf;
}

/* Social Media */

.social-media-list-wrapper li {
  display:inline-block;
  margin:10px;
}

.social-media-list-wrapper img {
  height:20px;
}

.section-image > img {
  /* max-width: 100%;
  height:100%; */
  /* flex-shrink: 1; */
  max-width: 100%;
  max-height: 100%;
  height: inherit !important;
}
.flex-float-left {
  margin-right:auto;
}
.flex-float-right {
  margin-left:auto;
}


/* Main Nav */

.navigation-main {
}

.navigation-main-list-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-shrink:0;
  list-style: none;
}

.navigation-main-list-item {
  margin: 0px 20px;
  flex-shrink: 0;

}

.navigation-main-list-item a {
  padding: 5px 5px;
  transition: .3s ease-out;
}

.navigation-main-list-item a:hover {
  border-bottom:5px solid #216ddf;
}

h1.light {
  font-weight:300;
}

h1 {
  font-size:250%;
}


/* Mobile Nav */
#mobile-navigation-close-icon {
  cursor:pointer;
  font-size:20px;
  display:none;
}

#hamburger {
  display:none;
  width:30px;
  height:30px;
  margin:0 10px;
  background-image: url('../images/icons/menu-icon-mobile.png');
  background-position: center center;
  background-size: cover;
  cursor:pointer;
}

/* General Purpose */ 

.no-shrink {
  flex-shrink:0;
}

.italic {
  font-style: italic;
}

.centered {
  text-align:center;
}

.vertical-rule {
  height:40px;
  border-right: 1px solid var(--fourth-theme-color);
  margin:0 10px;
}

.dropshadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
}

/* Icons */

.icon-close::before {
  cursor:pointer;
  content:'\2716';
}


.icon-email {
  display:inline-block;
  background-image:url('../images/icons/email-icon.png');
  background-size: cover;
  background-position: bottom;
  margin:0 1em;
  width:1em;
  height:1em;
}

.icon-info::after {
    cursor: pointer;
    display: inline-block;
    background-color: #e4e4e4;
    content:'?';
    color: var(--first-theme-color);
    padding:.25em .75em;
    margin:0 1em;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: bold;
}

.icon-phone-desktop::before {
  content:' '; 
  background-image: url('../images/icons/phone-icon-desktop.png');
  background-size: contain;
  background-position:top;
  background-repeat:no-repeat;
  display: inline-block;
  margin-right:10px; 
  position: relative;
  top:3px;
  width:30px;
  height:30px;
}

.icon-phone-mobile {
  background-image: url('../images/icons/phone-icon-mobile.png');
}

.logo {
  flex-grow:2;
  margin:10px;
}

.logo img {
  max-width: 200px;
  min-width: 100px;
  width:100%;
}

.footer-logo img {
  max-width: 150px;
  min-width: 75px;
  width:100%;
}



/* Buttons */

.btn-default {
  background: #ffffff;
  color: #4275B0;
  font-weight: 900;
  border: 2px solid #4275B0;
  border-radius:3px;
  padding:5px;
  transition:.1s ease-in;
  cursor:pointer;
}

.btn-default:hover, .btn-default.active {
  background: #4275B0;
  color: #ffffff;
}

/* Lightbox */

.cards-container {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content:stretch;

}

.lightbox-item {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  width:300px;
  width:27%;
  border-radius: var(--theme-border-radius);
  text-align:center;
  margin:20px 0;
}
.dealer-header {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:20%;
}
.dealer-content {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  height:65%;
}
.dealer-name {
  padding:20px;
  margin:20px;
}

.lightbox-footer {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-theme-color);
  height:15%;
  border-radius: 0 0 10px 10px;
}

.dealer-services-list-wrapper {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 60px;
  text-align:left;

}


.dealer-hours-display {
  margin:0 auto;
}

.dealer-hours-display td:first-child {
  font-weight:bold;
  text-align:right;
}

.dealer-hours-display td:last-child {
  text-align:left;
}

/* Dealer Search Form */

#dealer-search-form {

  display: -webkibox;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  align-items: center;
  background:white;
  border:1px solid var(--fourth-theme-color) ;
}

#dealer-search-form input[type="text"] {
  flex:2;
  flex-shrink:2;
  margin:0;
  border:0;
  font-size:24px;
}


#dealer-search-form input[type="submit"] {
  background-color:none;
  background:none;
  flex:1;
  border:0;
  height:80%;
  max-width:60px;
  background-image:url('../images/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor:pointer;

}


/* Contact Form */


input[type="text"],input[type="email"], textarea {
  border:1px solid var(--fourth-theme-color) ;
  padding:10px;
  font-size:120%;
  width: 100%;
  box-sizing:border-box;
}


.modal-overlay {
  background-color: rgba(0,0,0,.7);
  position:fixed;
  height:100vh;
  width:100vw;
  z-index:8;
}

/* Search Filters */

.search-filters label, .search-filters input[type="checkbox"] {
  cursor:pointer;
}

.search-filters label {
  font-weight:700;
}


#search-filter-list-wrapper {

}

.search-filter-list-item {
  display:inline-block;
}

.search-filters {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--third-theme-color);
  margin:20px 50px;
  border-radius: var(--theme-border-radius);
  padding:10px;
  text-align:center;
}

.dialog {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:fixed;
}

.dialog-header {
  background-color:#083d8c;
  padding:10px;
}

.dialog-header * {
  color: #ffffff;
}

#contact-form {
  margin:10px;
  padding:10px;
  background-color: var(--third-theme-color);
}
#contact-form-close {
  float:right;
}
.hidden {
  display:none;
}


.dialog-footer {
  background-color:var(--third-theme-color);
}

p {
  margin:10px;
}


#dealer-search-results {
  margin:75px;
}


@media (max-width: 800px)  {  /* Tablets and undrr */ 

  #filter-results-title {
    cursor:pointer;
    font-size:120%;
    padding:.5em 0 .5em .5em;
    display:inline-block;
    background:white;
    border: 1px solid #d6d6d6; 
    margin:0;
  }
  #filter-results-title.expanded {
    border-bottom: none; 
  }
  #filter-results-title::after {
    margin-left:.5em;
    padding:.5em;
    background-color:var(--third-theme-color);
    border-left: 1px solid #d6d6d6; 
    content:'▶';
  }
  #filter-results-title.expanded::after {
    content:'▼';
    
  }


  main {
    padding:0px;
  }
  .lightbox-item {
    width:90%;
  }
  .dialog {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    top: 10%;
    left: 10%;
    transform: translate(-5%, -5%);
    position:fixed;
  }

  #top-header {
    padding:10px 2px;
  }

  .search-filters .vertical-rule {
    display:none;
  }

  .search-filters {
    width:100%;
    margin:0;
    padding:1em 0;
    flex-wrap: wrap;
    
  }

  #search-filter-list-wrapper {
    display:none;
    margin-top:0;
    background:white;
    text-align:left;
    width:90%;
    border: 1px solid #d6d6d6; 
  }

  #search-filter-list-wrapper.expanded {
    display:block;
  }

  .search-filter-list-item {
    display:block;
    margin:1.5em;
  }

  .section-image > img {
      /* max-width: 100%; */
      /* max-width:initial; */
    display:none;
    height:initial;
  }

  .content {
    width:initial;
    padding:50px;
    margin:10px;
    background-color: rgba(0,0,0,.5);
  }

  #navigation-main {
    text-align:left;
    display:none;
    position:fixed;
    width: 100%;
    height:auto;
    top:0;
    left:0;
    z-index:10;
    background:white;
    margin:0!important;
    padding:0;
  }
  
  .navigation-main-list-wrapper {
    height:initial;
    display:block;
  }

  .navigation-main-list-item {
    display:block;
    margin:2px 0;
  }
  
  .navigation-main-list-item a {
    color: #939393;
    display:block;
    height:100%;
    width:100%;
    font-size:20px;
    background-color: #e6e6e6;
    font-weight:400;

   }

   .navigation-main-list-item a:hover {

   }


 #hamburger {
    display:block;
  }

  #mobile-navigation-close-icon {
    display:inline-block;
  }
  #top-header > * {
    margin:5px;
  }

}

