/********************************************************************************  

  * CSS|1 - Global Variables
  * CSS|2 - Resets
  * CSS|3 - Structure
  * CSS|4 - Text
  * CSS|5 - Navigation
  * CSS|6 - Content
  * CSS|7 - Footer
  * CSS|8 - Forms
  * CSS|9 - Icons
  * CSS|10 - Buttons
  * CSS|11 - Misc
  * CSS|12 - Mobile

*******************************************************************************/


/* CSS|1 - Global Variables
*******************************************************************************/

:root {
  --first-theme-color: #083d8c;
  --second-theme-color: #216ddf;
  --third-theme-color: #f6f6f6;
  --fourth-theme-color: #c2c2c2;
  --fifth-theme-color: #02c7c6;
  --theme-border-radius: 5px;
}

/* CSS|2 - Resets
*******************************************************************************/

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

button {
  background:none;
}

button, input[type="text"],
input[type="submit"],
input[type="tel"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  min-width: 0;
}

input:invalid {
  box-shadow: none !important;
}
div {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  margin:5px;
  font-weight:600;
}
label {
  display:block;
}
ul {
  list-style: none;
  padding:0;
}

/* CSS|3 - Structure
*******************************************************************************/

main {
  flex: 1;
  flex-shrink:1;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
section {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin:0;
  padding:100px auto;
  width:100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height:80vh;
}

/* CSS|4 - Text
*******************************************************************************/

a {
  text-decoration: none;
  font-weight: 800;
  transition: .1s;
  transition-timing-function: cubic-bezier(.04,.77,0,1.01);
}

a:link  {color: var(--first-theme-color) }
a:active { color: var(--first-theme-color) }
a:hover { color:var(--second-theme-color) }
a:visited { color: var(--first-theme-color) }


body, html, textarea, input, button, label {
  font-family:'OpenSans', Arial, sans-serif;
}
body {
  color: #555555;
  font-size:75%;
  
}
h1 {
  font-size:250%;
}
h1.light {
  font-weight:300;
}
hr {
  border: 1px solid #efefef;
  width:90%;
}
p {
  margin:10px;
}
.italic {
  font-style: italic;
}

.centered {
  text-align:center;
}

.vertical-rule {
  height:40px;
  border-right: 1px solid var(--fourth-theme-color);
  margin:0 10px;
}



/* CSS|5 - Navigation
*******************************************************************************/

#top-header {
  top:0;
  z-index:8;
  box-sizing: border-box;
  background-color:white;
  width:100%;
  position:fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#top-header > * {
  margin:1.75em 2em;
}
.navigation-main-list-wrapper {
  align-items: center;
  display: flex;
  /* flex: 0 0 auto; */
  flex-shrink:2;
  list-style: none;
}
.navigation-main-list-item {
  margin: 0px 2em;
  flex-shrink: 0;
}
.navigation-main-list-item a {
  font-weight:700;
  padding-bottom:.5em;
  transition: .3s;
  transition-timing-function: cubic-bezier(0,.66,.04,1);
}
.navigation-main-list-item a:hover {
  border-bottom:5px solid var(--second-theme-color);
}
.logo {
  flex-grow:2;
  margin:10px;
}
.logo img {
  max-width: 200px;
  min-width: 100px;
  width:100%;
}

/* CSS|6 - Content
*******************************************************************************/

/* Sections */

.content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:5em;
  color: white;
  width:500px;
  background-color: rgba(0,0,0,.5);
}

#hero-section {
  margin-top:0px;
  background-image: url('../images/background/hero.jpg');
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
}

#pools-and-spas-section {
  background-color: #216ddf;
  background-image: url('../images/background/lady.jpg');
}
#supplies-section {
  background-color: #1b5ab8;
  background-image: url('../images/background/supplies.jpg');
}
#resources-section {
  background-color: #174d9e;
  background-image: url('../images/background/resources.jpg');
}
#services-section {
  background-color: #2668cb;
  background-image: url('../images/background/services.jpg');
}

#dealer-search-results {
  margin:75px;
}

/* Cards */
.cards-container {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content:stretch;
}

.card {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  width:27%;
  min-width:350px;
  border-radius: var(--theme-border-radius);
  text-align:center;
  margin:20px 0;
}
.card-header {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:20%;
}
.card-content {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  height:65%;
}
.card-title {
  padding:20px;
  margin:20px;
}

a.dealer-phone-display {
  font-size:250%;
  color:black;
}

.card-footer {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-theme-color);
  height:15%;
  border-radius: 0 0 10px 10px;
}

.dealer-services-list-wrapper {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  text-align:left;
}

.dealer-services-list-wrapper li {
  margin:0 1em;

}


.dealer-hours-display {
  margin:0 auto;
}

.dealer-hours-display td:first-child {
  font-weight:bold;
  text-align:right;
}

.dealer-hours-display td:last-child {
  text-align:left;
}

/* Dialog */

.dialog {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:fixed;
  max-width:600px;
  z-index:9999;
  visibility: hidden;
  opacity:0;
  transition: all 1s cubic-bezier(0,.66,.04,1);
}

.dialog.visible {
  visibility: visible;
  opacity:1;
}

.dialog p {
  font-size:120%;
}

.dialog-content {
  margin:10px;
}

.dialog-header {
  background-color:#083d8c;
  padding:10px;
  color:white;
}


#commercial-services-dialog-close {
  float:right;
}

.dialog-footer {
  background-color:var(--third-theme-color);
}

.dialog-footer p {
  font-size:90%;
}


.modal-overlay {
  background-color: rgba(0,0,0,.7);
  position:fixed;
  height:100vh;
  width:100vw;
  z-index:8;
  opacity:0;
  visibility: hidden;
  transition: all 1s cubic-bezier(0,.66,.04,1);
}


.modal-overlay.visible {
  visibility: visible;
  opacity:1;
}


/* Search */

#dealer-locator-container {
  padding:5em;
  background-color: rgba(255,255,255,.7);
  margin:10px;
}

#dealer-search-results-section{
  margin-top:100px;
  max-width:100%;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  background: url('../images/background/water-image.png');
  background-size:contain;
  background-repeat: no-repeat;
}

.search-results-content {
  padding-top:100px;
  max-width:1300px;
  margin:0 auto;
}

/* Search Filters */
#dealer-count-title {
  color:var(--second-theme-color);
}
.search-filters label, .search-filters input[type="checkbox"] {
  cursor:pointer;
}
.search-filter-list-item {
  display:inline-block;
}
.search-filters {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--third-theme-color);
  margin:20px 50px;
  border-radius: var(--theme-border-radius);
  padding:10px;
  text-align:center;
}


/* CSS|7 - Footer
*******************************************************************************/

.footer {
  color: white;
  display: flex;
  flex-direction: column;
}
.footer a {
  color:white;
  font-weight:normal;
}
.footer-top {
  padding:10px;
  background-color: var(--first-theme-color);
}
.footer-bottom {
  background-color: var(--second-theme-color);
}
.footer-logo img {
  margin:5px;
  max-width: 150px;
  min-width: 75px;
  width:100%;
}

.social-media-list-wrapper li {
  display:inline-block;
  margin:5px 10px;
  font-weight:600;
  font-size:120%;
}

.social-media-list-wrapper img {
  height:1em;
}

.flex-float-left {
  margin-right:auto;
}
.flex-float-right {
  margin-left:auto;
}

/* CSS|8 - Forms
*******************************************************************************/

/* Dealer Search Form */

#dealer-search-form {
  display: -webkibox;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  align-items: center;
  background-color:white;
  border:1px solid var(--fourth-theme-color) ;
}

#dealer-search-form input[type="tel"] {
  flex:2;
  flex-shrink:2;
  margin:0;
  border:0;
  font-size:24px;
  padding:.5em;
  height:inherit;
}

#dealer-search-form input[type="submit"] {
  background:none;
  background-color:none;
  flex:1;
  border:0;
  height:80%;
  max-width:60px;
  background-image:url('../images/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor:pointer;
}

/* Contact Form */

#contact-form {
  margin:10px;
  padding:10px;
  background-color: var(--third-theme-color);
}
#contact-form-close {
  float:right;
}

#contact-form label, input, textarea {
  margin:10px 0;
}

#contact-form label.optional::before {
  content:'Optional';
  font-weight: 400;
  font-style: italic!important;
  vertical-align: middle;
  float:right;
}

#contact-form-submit {
  font-size:100%;
  border:0;
  font-weight:600;
  cursor:pointer;
  margin:.25em;
}

#contact-form-submit::before {
  content:"Send my email";
}

#contact-form-submit:after {
  content:" ";
  display:inline-block;
  vertical-align:middle;
  margin:0 .75em;
  width:1.25em;
  height:1.25em;
  background-image:url("../images/icons/next-arrow.png");
  background-position: center;
  background-size:contain;
  background-repeat:no-repeat;
}

#contact-form label {
  font-weight:600;
}


#contact-form input[type="text"],input[type="email"],input[type="tel"], textarea {
  height:43px;
  padding:10px;
  font-size:120%;
  width: 100%;
  box-sizing:border-box;
  border:1px solid var(--fourth-theme-color) ;
  display:block;
}

#contact-form textarea  {
  height:initial;
}



#contact-form input[type="tel"], .phone-label  {
  max-width:15em;
}

.icon-form-validation {
  vertical-align: middle;
  width:20px;
  height:20px;
  background-position: center;
  background-size:contain;
  background-repeat:no-repeat;
  float:right;
  top:-80px;
  margin-bottom:-80px; /* Remove empty space */
  position: relative;
}

/* Get ready....
...... for the wild stuff ahead .....  */

#contact-form input[type="text"]:invalid + span, 
#contact-form input[type="email"]:invalid + span, 
#contact-form input[type="tel"]:invalid + span {
    background-image: url("../images/forms/circle-form.png");
    border:0;
}

#contact-form input[type="text"]:valid + span, 
#contact-form input[type="email"]:valid + span, 
#contact-form input[type="tel"]:valid + span {
  background-image: url("../images/forms/checkmark-circle.png");
}

/* Okay, back to your regularly scheduled programming  */


/* CSS|9 - Icons
*******************************************************************************/

.icon-close {
  cursor:pointer;
  font-size:175%;
}

.icon-info::after {
  cursor: pointer;
  display: inline-block;
  background-color: #e4e4e4;
  content:'?';
  color: var(--first-theme-color);
  padding:.25em .75em;
  margin:0 1em;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: bold;
}

.icon-phone::before {
  content:"\00A0"; /* Magic unicode space */
  background: url('../images/icons/phone-icon-desktop.png');
  background-size: contain;
  background-position:center;
  background-repeat:no-repeat;
  display: inline-block;
  margin-right:.25em; 
  vertical-align: text-top;
  width:1em;
  height:100%;
}

li.service-pro::before, 
li.installation-pro::before, 
li.commercial-pro::before, 
li.residential-pro::before {
  content:"\00A0";
  margin-right:.5em;
  vertical-align: middle;
  display:inline-block;
  height:100%;
  width: 1em;
}

li.service-pro::before {
  background: url('../images/service-icons/gear-service-pro.png') no-repeat center;
  background-size:contain;
}

li.installation-pro::before {
  background: url('../images/service-icons/star-installation-pro.png') no-repeat center;
  background-size:contain;
}

li.commercial-pro::before {
  background: url('../images/service-icons/users-commercial-pro.png') no-repeat center;
  background-size:contain;
}

li.residential-pro::before {
  background: url('../images/service-icons/home-residential-pro.png') no-repeat center;
  background-size:contain;
}

/* Custom Checkboxes */ 

.checkbox {
  display: inline-block;
  margin:5px 10px;
}

.checkbox input[type="checkbox"] {
  position:absolute;
  left:-9999px;
}

.checkbox label {
  position: relative;
  display: inline-block;
  
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  
  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
  height: 17px;
  width: 17px;
  
  border:1px solid lightgray;
  background:white;
  border-radius:4px;
  left: -4px;
  top: -1px;
}

/* Check Mark */

.checkbox label::after {
  height: 7px;
  width: 7px;
  
  border: 7px solid var(--second-theme-color);
  border-radius:4px;
  left: -5px;
  top: -2px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

/* Focus style for accessibility and keyboard use*/
.checkbox input[type="checkbox"]:focus + label::before, .checkbox input[type="checkbox"]:hover  {
  border: 1px dotted lightgray;
}

/* Custom Radio Buttons */ 

.radio-button {
  display: inline-block;
  margin:5px 5px;
}

.radio-button input[type="radio"] {
  position:absolute;
  left:-9999px;
}

.radio-button label {
  display: inline-block;
  padding:3px 20px;
  border: 2px solid grey;
  border-radius:5px;
  font-weight:700;
  cursor:pointer;
}

/*Hide the checkmark by default*/
.radio-button input[type="radio"] + label {
  background-color:#efefef;
}

/*Unhide on the checked state*/
.radio-button input[type="radio"]:checked + label {
  background-color:var(--fifth-theme-color);
  color:white;
}

/* Focus style for accessibility*/
.radio-button input[type="radio"]:focus + label, .radio-button input[type="radio"] + label:hover  {
  border: 2px solid rgb(65, 65, 65);
}



/* CSS|10 Buttons
*******************************************************************************/

.btn-default {
  background-color: #ffffff;
  color: var(--first-theme-color);
  font-weight: 700;
  border: 2px solid var(--second-theme-color);
  border-radius:3px;
  padding:.5em 1em;
  transition:.1s ease-in;
  cursor:pointer;
}
.btn-default:hover, .btn-default.active {
  background-color: var(--second-theme-color);
  color: #ffffff;
}
a.btn-hero {
  color: var(--second-theme-color);
}
a.btn-hero::after {
  content:' Find a Pool Pro'
}

.btn-dealer-contact {
  border: 2px solid var(--fifth-theme-color);
}
.btn-dealer-contact:hover {
  background-color:var(--fifth-theme-color);
}


/* Misc
*******************************************************************************/

.no-shrink {
  flex-shrink:0;
}

.hidden {
  display:none;
}

.dropshadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
}

/* CSS|12 - Mobile
*******************************************************************************/
#mobile-menu-header {
  display:none;
}
#mobile-navigation-close-icon {
  cursor:pointer;
  font-size:24px;
  display:none;
  padding:10px 15px;
}

#hamburger {
  display:none;
  width:30px;
  height:30px;
  margin:0 10px;
  background-image: url('../images/icons/menu-icon-mobile.png');
  background-position: center center;
  background-size: cover;
  cursor:pointer;
}



.tap-to-call {
  font-size:50%;
  margin:0 .5em;
  display:none;
  font-weight:600;
}

@media (max-width: 800px)  {  /* Slates and Tablettes  */ 
  #top-header {
    padding:10px 2px;
  }
  #top-header > * {
    margin:5px;
  }
  
  main {
    padding:0px;
  }

  #navigation-main {
    text-align:left;
    display:none;
    position:fixed;
    width: 100%;
    height:auto;
    top:0;
    left:0;
    z-index:10;
    background-color:white;
    margin:0!important;
    padding:0;
    border-top:5px solid var(--fifth-theme-color);
    border-bottom:5px solid var(--fifth-theme-color);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
  }
  
  .navigation-main-list-wrapper {
    height:initial;
    display:block;
  }

  .navigation-main-list-item {
    display:block;
    margin:2px 0;
  }
  
  .navigation-main-list-item a {
    color: #939393;
    display:block;
    width:100%;
    font-size:20px;
    background-color: #e6e6e6;
    font-weight:400;
    padding:20px;
   }

   .navigation-main-list-item a:hover {
      border:none;
   }

  .navigation-main-list-item a::after {
    content:"\00A0"; /* Magic unicode space */
    float:right;
    margin-right:2em;
    width:.75em;
    height:100%; 
    background-image:url("../images/icons/next-arrow.png");
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
   }
   
  a.btn-hero::after {
    content:' Find a Pro';
    text-transform:uppercase;
  }

 #hamburger {
    display:block;
  }

  #mobile-menu-header {
    display:block;
  }

  #mobile-navigation-close-icon {
    display:inline-block;
    color:var(--fifth-theme-color);
  }
  .dealer-phone-display:hover {
    color:white
  }

  #dealer-count-title {
    margin-left:10px;
    font-size:120%;
    flex-grow:2;
  }
  #filter-results-title {
    cursor:pointer;
    font-size:120%;
    padding:.5em 0 .5em .5em;
    display:inline-block;
    background-color:white;
    border: 1px solid #d6d6d6; 
    margin:0px 10px 0px auto;
  }
  #filter-results-title.expanded {
    border-bottom: none; 
  }
  #filter-results-title::after {
    font-family:'SSPika';
    margin-left:.5em;
    padding:.5em;
    background-color:var(--third-theme-color);
    border-left: 1px solid #d6d6d6; 
    content:'▹';
  }
  #filter-results-title.expanded::after {
    content:'▾'; 
  }
  .search-filters .vertical-rule {
    display:none;
  }
  .search-filters {
    width:100%;
    margin:0;
    padding:1em 0;
    flex-wrap: wrap;
  }
  #search-filter-list-wrapper {
    display:none;
    margin-top:0;
    background-color:white;
    text-align:left;
    width:inherit;
    border: 1px solid #d6d6d6; 
    margin:0 10px;
  }
  #search-filter-list-wrapper.expanded {
    display:block;
  }
  .search-filter-list-item {
    display:block;
    margin:1.5em;
  }
  .content {
    width:initial;
    padding:1em;
    margin:10px;
    background-color: rgba(0,0,0,.5);
  }
}

@media (max-width: 600px)  {  /* Cellular devices */ 

  /* Smaller images for smaller load times  */
   
  #hero-section {
    background-image: url('../images/background/mobile/hero.jpg');
  }
  
  #pools-and-spas-section {
    background-image: url('../images/background/mobile/lady.jpg');
  }
  #supplies-section {
    background-image: url('../images/background/mobile/supplies.jpg');
  }
  #resources-section {
    background-image: url('../images/background/mobile/resources.jpg');
  }
  #services-section {
    background-image: url('../images/background/mobile/services.jpg');
  }
  .content {
    width:initial;
    padding:1em;
    margin:10px;
    background-color: rgba(0,0,0,.5);
  }

  .dialog-footer {
    display:none;
   }

  #contact-form-dialog {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:95%;
    position:absolute;
  }

  #contact-form {
    background-color: initial;
  }

  #contact-form-submit {
    color:var(--fifth-theme-color);
    float:right;
  }

  #contact-form-submit::before {
    content:"Send";
  }

  #contact-form-submit::after {
    content:none;
  }

  .icon-phone::before {
    background-image: url('../images/icons/phone-icon-mobile.png');
  }

  a.dealer-phone-display {
    font-size:200%;
    color:white;
    background-color:var(--second-theme-color);
    padding:0 .25em;
    margin:0 auto;
  }

  .card {
    width:90%;
  }
  .tap-to-call {
    display:inline-block;
  }

    /* Bunch of stuff to change style of custom radio button for mobile only - WHY RED VENTURES, WHY??? */ 

  .radio-button {
    display: inline-block;
    margin:0px;
  }

  .radio-button input[type="checkbox"] {
    position:absolute;
    left:-9999px;
  }

  .radio-button label {
    position: relative;
    display: inline-block;
    background:none;
    padding-left: 22px;
  }

  .radio-button label::before,
  .radio-button label::after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  /*Outer box of the fake checkbox*/
  .radio-button label::before{
    height: 9px;
    width: 9px;
    border:4px solid grey;
    border-radius:5px;
    left: 0px;
    top: 0px;
  }

  /* Check Mark */

  .radio-button label::after {
    height: 7px;
    width: 7px;
    border: 6px solid var(--second-theme-color);
    border-radius:5px;
    left: -1px;
    top: -1px;
  }

  /*Reset*/
  .radio-button input[type="radio"] + label {
    background-color:initial;
  }
  
  /*Reset*/
  .radio-button input[type="radio"]:checked + label {
    background-color:initial;
    color: #696969;
  }

  /*Hide when unchecked*/
  .radio-button input[type="radio"] + label::after {
    content: none;
  }

  /*Unhide when checked*/
  .radio-button input[type="radio"]:checked + label::after {
    content: "";
  }

  /* Focus style for accessibility and keyboard use*/
  .radio-button input[type="radio"]:focus + label::before {
    background-color:#bdbdbd;
  }

  .radio-button input[type="radio"]:focus + label, .radio-button input[type="radio"] + label:hover  {
    border: none;
  }

  .radio-button label {
    padding:3px 20px;
    border: none;
    background-color:initial;
  }
}