
/* Global Variables */

:root {
  --first-theme-color: #083d8c;
  --second-theme-color: #216ddf;
  --third-theme-color: #f6f6f6;
  --fourth-theme-color: #c2c2c2;
  --fifth-theme-color: #02c7c6;
  --theme-border-radius: 5px;
}

/* Resets */

button, input[type="text"], input[type="submit"], input[type="tel"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  min-width: 0;
}
label {
  display:block;
}
button {
  background:none;
}

div {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

input:invalid {
  box-shadow: none !important;
}

body, textarea {
  font-family:'OpenSans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  color: #696969;
  font-size:70%;
}

h1,h2,h3,h4,h5,h6 {
  margin:5px;
}

a {
  text-decoration: none;
  color: var(--first-theme-color);
  font-weight: 800;
  transition: .1s;
  transition-timing-function: cubic-bezier(.04,.77,0,1.01);
}
a:hover {
  color:var(--second-theme-color);
}
ul {
  list-style: none;
  padding:0;
}

hr {
  border: 1px solid #efefef;
  width:90%;
}

main {
  flex: 1;
  box-sizing: border-box;
}


section {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin:0;
  padding:100px auto;
  width:100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: white;
  min-height:80vh;
}

.content {
  padding:5em;
  color: white;
  width:500px;
  background-color: rgba(0,0,0,.5);
}

#hero-section {
  margin-top:40px;
  background-image: url('../images/background/pool.jpg');
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
}

#dealer-locator-container {
  padding:5em;
  background-color: rgba(255,255,255,.7);
  margin:10px;
}

#dealer-search-results-section{
  margin:100px auto;
  max-width:1300px;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
}

#pools-and-spas-section {
  background-color: #216ddf;
  background-image: url('../images/background/lady.jpg');
}
#supplies-section {
  background-color: #1b5ab8;
  background-image: url('../images/background/supplies.jpg');
}
#resources-section {
  background-color: #174d9e;
  background-image: url('../images/background/resources.jpg');
}
#services-section {
  background-color: #2668cb;
  background-image: url('../images/background/services.jpg');
}

#top-header {
  z-index:8;
  box-sizing: border-box;
  background-color:white;
  width:100%;
  position:fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#top-header > * {
  margin:7px 15px;
}

.footer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.footer a {
  color:#ffffff;
  font-weight:normal;
}

.footer-top {
  flex: 1 0 auto;
  background-color: #083d8c;
}

.footer-bottom {
  background-color: #216ddf;
}

/* Social Media */

.social-media-list-wrapper li {
  display:inline-block;
  margin:10px;
}

.social-media-list-wrapper img {
  height:20px;
}

.flex-float-left {
  margin-right:auto;
}
.flex-float-right {
  margin-left:auto;
}


/* Main Nav */

.navigation-main-list-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-shrink:0;
  list-style: none;
}

.navigation-main-list-item {
  margin: 0px 20px;
  flex-shrink: 0;
}

.navigation-main-list-item a {
  padding: 5px;
  transition: .3s;
  transition-timing-function: cubic-bezier(0,.66,.04,1);
}

.navigation-main-list-item a:hover {
  border-bottom:5px solid var(--second-theme-color);
}

h1.light {
  font-weight:300;
}

h1 {
  font-size:250%;
}


/* Mobile Nav */
#mobile-navigation-close-icon {
  cursor:pointer;
  font-size:24px;
  display:none;
  padding:10px 15px;
}

#hamburger {
  display:none;
  width:30px;
  height:30px;
  margin:0 10px;
  background-image: url('../images/icons/menu-icon-mobile.png');
  background-position: center center;
  background-size: cover;
  cursor:pointer;
}

/* General Purpose */ 

.no-shrink {
  flex-shrink:0;
}

.italic {
  font-style: italic;
}

.centered {
  text-align:center;
}

.vertical-rule {
  height:40px;
  border-right: 1px solid var(--fourth-theme-color);
  margin:0 10px;
}

.dropshadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
}

/* Icons */

.icon-close {
  cursor:pointer;
  font-size:175%;
}

.icon-info::after {
  cursor: pointer;
  display: inline-block;
  background-color: #e4e4e4;
  content:'?';
  color: var(--first-theme-color);
  padding:.25em .75em;
  margin:0 1em;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: bold;
}

.icon-phone::before {
  content:' '; 
  background-image: url('../images/icons/phone-icon-desktop.png');
  background-size: contain;
  background-position:center;
  background-repeat:no-repeat;
  display: inline-block;
  margin-right:.25em; 
  vertical-align: text-top;
  width:1em;
  height:inherit;
}

.logo {
  flex-grow:2;
  margin:10px;
}

.logo img {
  max-width: 200px;
  min-width: 100px;
  width:100%;
}

.footer-logo img {
  max-width: 150px;
  min-width: 75px;
  width:100%;
}

li.service-pro::before, li.installation-pro::before, li.commercial-pro::before, li.residential-pro::before {
  content:"";
  margin-right:.5em;
  vertical-align: middle;
  display:inline-block;
  height:15px;
  width: 15px;
}

li.service-pro::before {
  background: url('../images/service-icons/gear-service-pro.png') no-repeat center;
  background-size:cover;
}

li.installation-pro::before {
  background: url('../images/service-icons/star-installation-pro.png') no-repeat center;
  background-size:cover;
}

li.commercial-pro::before {
  background: url('../images/service-icons/users-commercial-pro.png') no-repeat center;
  background-size:cover;
}

li.residential-pro::before {
  background: url('../images/service-icons/home-residential-pro.png') no-repeat center;
  background-size:cover;
}

/* Buttons */

.btn-default {
  background-color: #ffffff;
  color: var(--second-theme-color);
  font-weight: 900;
  border: 2px solid var(--second-theme-color);
  border-radius:3px;
  padding:5px;
  transition:.1s ease-in;
  cursor:pointer;
}

.btn-default:hover, .btn-default.active {
  background-color: var(--second-theme-color);
  color: #ffffff;
}

.btn-dealer-contact {
  border: 2px solid var(--fifth-theme-color);
}

.btn-dealer-contact:hover {
  background-color:var(--fifth-theme-color);
}


/* Lightbox */

.cards-container {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content:stretch;

}

.lightbox-item {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  /* width:300px; */
  width:27%;
  min-width:300px;
  border-radius: var(--theme-border-radius);
  text-align:center;
  margin:20px 0;
}
.dealer-header {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:20%;
}
.dealer-content {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  height:65%;
}
.dealer-name {
  padding:20px;
  margin:20px;
}

.dealer-phone-display {
  font-size:250%;
}

.lightbox-footer {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-theme-color);
  height:15%;
  border-radius: 0 0 10px 10px;
}

.dealer-services-list-wrapper {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  text-align:left;
}


.dealer-hours-display {
  margin:0 auto;
}

.dealer-hours-display td:first-child {
  font-weight:bold;
  text-align:right;
}

.dealer-hours-display td:last-child {
  text-align:left;
}

/* Dealer Search Form */

#dealer-search-form {
  display: -webkibox;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  align-items: center;
  background-color:white;
  border:1px solid var(--fourth-theme-color) ;
}

#dealer-search-form input[type="tel"] {
  flex:2;
  flex-shrink:2;
  margin:0;
  border:0;
  font-size:24px;
  padding:.5em;
  height:inherit;
}

#dealer-search-form input[type="submit"] {
  background:none;
  background-color:none;
  flex:1;
  border:0;
  height:80%;
  max-width:60px;
  background-image:url('../images/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor:pointer;
}


/* Contact Form */
#contact-form {
  margin:10px;
  padding:10px;
  background-color: var(--third-theme-color);
}
#contact-form-close {
  float:right;
}

#contact-form label, input, textarea {
  margin:10px 0;
}

#contact-form-submit {
  font-size:150%;
  border:0;
  font-weight:800;
  cursor:pointer;
  margin:.25em;
}

#contact-form-submit::before {
  content:"Send My Email";
}

#contact-form-submit:after {
  content:" ";
  display:inline-block;
  vertical-align:middle;
  margin:0 .75em;
  width:1.25em;
  height:1.25em;
  background-image:url("../images/icons/next-arrow.png");
  background-position: center;
  background-size:contain;
  background-repeat:no-repeat;
}

#contact-form label {
  font-weight:800;
}


#contact-form input[type="text"],input[type="email"],input[type="tel"], textarea {
  height:43px;
  padding:10px;
  font-size:120%;
  width: 100%;
  box-sizing:border-box;
  border:1px solid var(--fourth-theme-color) ;
  display:block;
}

#contact-form input[type="tel"], .phone-label  {
  max-width:15em;
}


/* Get ready.... */


/* ...... for the wild stuff ahead .....  */

.icon-form-validation {
  vertical-align: middle;
  width:20px;
  height:20px;
  background-position: center;
  background-size:contain;
  background-repeat:no-repeat;
  float:right;
  top:-80px;
  position: relative;
}


/* ...... here goes!  */

#contact-form input[type="text"]:invalid + span, #contact-form input[type="email"]:invalid + span, #contact-form input[type="tel"]:invalid + span {
    background-image: url("../images/forms/circle-form.png");
    border:0;
}

#contact-form input[type="text"]:valid + span, #contact-form input[type="email"]:valid + span, #contact-form input[type="tel"]:valid + span {
  background-image: url("../images/forms/checkmark-circle.png");
}

/* Okay, back to reality  */

#mobile-menu-header {
  display:none;
}

.modal-overlay {
  background-color: rgba(0,0,0,.7);
  position:fixed;
  height:100vh;
  width:100vw;
  z-index:8;
  opacity:0;
  visibility: hidden;
  transition: all 1s cubic-bezier(0,.66,.04,1);
}


.modal-overlay.visible {
  visibility: visible;
  opacity:1;
}

/* Search Filters */

#dealer-count-title {
  color:var(--second-theme-color);
}

.search-filters label, .search-filters input[type="checkbox"] {
  cursor:pointer;
}

.search-filters label {
  font-weight:700;
}

.search-filter-list-item {
  display:inline-block;
}

.search-filters {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--third-theme-color);
  margin:20px 50px;
  border-radius: var(--theme-border-radius);
  padding:10px;
  text-align:center;
}

.dialog {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;     
  display: -webkit-flex;     
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:fixed;
  max-width:600px;
}

.dialog p {
  font-size:120%;
}

.dialog-content {
  margin:10px;
}

.dialog-header {
  background-color:#083d8c;
  padding:10px;
  color:white;
}


#commercial-services-dialog-close {
  float:right;
}
.hidden {
  display:none;
}


.dialog-footer {
  background-color:var(--third-theme-color);
}

p {
  margin:10px;
}


#dealer-search-results {
  margin:75px;
}


/* Custom Checkboxes */ 

.checkbox {
  display: inline-block;
  margin:5px 10px;
}

.checkbox input[type="checkbox"] {
  position:absolute;
  left:-9999px;
}

.checkbox label {
  position: relative;
  display: inline-block;
  
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  
  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
  height: 16px;
  width: 16px;
  
  border: 1px solid;
  left: 0px;
  border-radius:5px;
  top: 0px;
}

/* Check Mark */

.checkbox label::after {
  height: 9px;
  width: 9px;
  
  border: 5px solid var(--second-theme-color);
  border-radius:5px;
  left: 0px;
  top: 0px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

/* Focus style for accessibility*/
.checkbox input[type="checkbox"]:focus + label::before {
  border:1px dotted black;
}

/* Custom Radio Buttons */ 

.radio-button {
  display: inline-block;
  margin:5px 5px;
}

.radio-button input[type="radio"] {
  position:absolute;
  left:-9999px;
}

.radio-button label {
  display: inline-block;
  padding:3px 20px;
  border: 3px solid grey;
  border-radius:5px;
  font-weight:700;
  cursor:pointer;
}


/*Hide the checkmark by default*/
.radio-button input[type="radio"] + label {
  background-color:#efefef;
}

/*Unhide on the checked state*/
.radio-button input[type="radio"]:checked + label {
  background-color:var(--fifth-theme-color);
  color:white;
}

/* Focus style for accessibility*/
.radio-button input[type="radio"]:focus + label, .radio-button input[type="radio"] + label:hover  {
  border: 3px solid rgb(65, 65, 65);
}



.tap-to-call {
  font-size:50%;
  margin:0 .5em;
  display:none;
  font-weight:600;
}

@media (max-width: 800px)  {  /* Tablets and underrrrrrrr */ 

  .icon-phone::before {
    background-image: url('../images/icons/phone-icon-mobile.png');
  }

  .dealer-phone-display {
    font-size:200%;
    color:white;
    background-color:var(--second-theme-color);
    padding:0 .25em;
    margin:0 auto;
  }

  .dealer-phone-display:hover {
    color:var(--first-theme-color);

  }

  #dealer-count-title {
    margin-left:10px;
    font-size:120%;
    flex-grow:2;
  }

  .tap-to-call {
    display:inline-block;
  }

  #filter-results-title {
    cursor:pointer;
    font-size:120%;
    padding:.5em 0 .5em .5em;
    display:inline-block;
    background-color:white;
    border: 1px solid #d6d6d6; 
    margin:0px 10px 0px auto;
  }
  #filter-results-title.expanded {
    border-bottom: none; 
  }
  #filter-results-title::after {
    font-family:'SSPika';
    margin-left:.5em;
    padding:.5em;
    background-color:var(--third-theme-color);
    border-left: 1px solid #d6d6d6; 
    content:'▹';
  }
  #filter-results-title.expanded::after {
    content:'▾'; 
  }
  main {
    padding:0px;
  }
  .lightbox-item {
    width:90%;
  }
  .dialog {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    top: 10%;
    left: 10%;
    transform: translate(-5%, -5%);
    position:fixed;
  }

  .dialog-footer {
   display:none;
  }
  #top-header {
    padding:10px 2px;
  }

  .search-filters .vertical-rule {
    display:none;
  }

  .search-filters {
    width:100%;
    margin:0;
    padding:1em 0;
    flex-wrap: wrap;
  }

  #search-filter-list-wrapper {
    display:none;
    margin-top:0;
    background-color:white;
    text-align:left;
    width:inherit;
    border: 1px solid #d6d6d6; 
    margin:0 10px;
  }

  #search-filter-list-wrapper.expanded {
    display:block;
  }

  .search-filter-list-item {
    display:block;
    margin:1.5em;
  }

  .content {
    width:initial;
    padding:50px;
    margin:10px;
    background-color: rgba(0,0,0,.5);
  }

  #navigation-main {
    text-align:left;
    display:none;
    position:fixed;
    width: 100%;
    height:auto;
    top:0;
    left:0;
    z-index:10;
    background-color:white;
    margin:0!important;
    padding:0;
  }
  
  .navigation-main-list-wrapper {
    height:initial;
    display:block;
  }

  .navigation-main-list-item {
    display:block;
    margin:2px 0;

  }
  
  .navigation-main-list-item a {
    color: #939393;
    display:block;
    width:100%;
    font-size:20px;
    background-color: #e6e6e6;
    font-weight:400;
    padding:20px;
   }

 #hamburger {
    display:block;
  }

  #mobile-menu-header {
    display:block;
  }

  #mobile-navigation-close-icon {
    display:inline-block;
  }
  #top-header > * {
    margin:5px;
  }

  .dealer-footer {
    display:none;
  }

  #contact-form {
    background-color: initial;
  }

  #contact-form-submit {
    color:var(--fifth-theme-color);
    float:right;
  }

  #contact-form-submit::before {
    content:"Send";
  }

  #contact-form-submit::after {
    content:none;
  }

}

